<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:replace="~{fragments/bootstrapFragments :: link}"></div>
    <title>Login Page</title>
</head>
<body>
<section class="d-flex justify-content-center align-items-center vh-100"
         style="background-image: url('https://pixabay.com/get/g6edce8e0468e04f0edbfdde932fc4b6a6aff89f38032b8b41693a260b095166d92efb642fba65a33c2c29d1d15154ba53b69a5b522544ffd370c9c7b9a6f912d_1920.jpg');
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;">
    <div class="container h-auto">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-10 col-lg-8 col-xl-6 h-100">
                <div class="card bg-success-subtle h-100" style="border-radius: 15px;">
                    <div class="card-body h-100 p-5">
                        <h2 class="text-uppercase text-center mb-5">Create an account</h2>
                        <form
                                class=""
                                method="post"
                                th:action="@{/login}"
                                th:object="${user}">

                            <div class="form-outline mb-4">
                                <input type="text" id="username" th:field="*{username}" name="username"
                                       class="form-control form-control-lg" placeholder="Enter username"/>
                                <label class="form-label" for="username">Username</label>
                                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                                   class="text-danger">
                                </p>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="password" id="password" th:field="*{password}" name="password"
                                       class="form-control form-control-lg" placeholder="Enter password"/>
                                <label class="form-label" for="password">Password</label>
                                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                   class="text-danger">
                                </p>
                            </div>

                            <div class="d-flex justify-content-center">
                                <button type="submit"
                                        class="btn btn-success btn-block btn-lg text-body">
                                    Send
                                </button>
                            </div>

                            <p class="text-center text-muted mt-5 mb-0">Don't have an account yet?
                                <a href="#!"
                                   th:href="@{/register}"
                                   class="fw-bold text-body">
                                    <u>Register here</u>
                                </a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:replace="~{fragments/bootstrapFragments :: script}"></div>
</body>
</html>